.product-archive-grid {
  display: grid;
  /* we have to be careful with this, it mucks with the tab order */
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 21rem), 1fr));
  gap: var(--space-s);
  grid-auto-rows: var(--section-space-l) auto auto auto;
  container-type: inline-size;
}

.product-card {
  overflow: hidden;
  display: grid;
  grid-row: span 4;
  grid-template-rows: subgrid;
  gap: var(--space-xs);
  background-color: var(--white);
  border-radius: var(--radius-m);
  box-shadow: var(--box-shadow-l);
  --_padding: var(--space-xs);

  /* padding: var(--space-xs); */
  /* background-color: aqua; */
}

.product-card > :not(img) {
  margin-inline: var(--_padding);
}

.product-card > :last-child:not(img) {
  margin-block-end: var(--_padding);
}

.product-card img {
  width: 100%;
  height: 100%;
  /* height: calc(var(--section-space-l) - (2 * var(--_padding))); */
  /* calculate the height of the containair minus an xs padding */
  object-fit: contain;
  /* padding: var(--space-xs) 0em var(--space-xs) 0em; */
}

.add-to-cart-button__form-wrapper--variable > select {
  width: 100%;
}

.product-card__add-to-cart-wrapper {
  display: grid;
  align-content: space-between;
}
